body {
	font-family:"Times New Roman",Georgia,Serif;
	font-size:12px;
	width:800px;
	margin-left:40px;
}

h1{
	text-transform:uppercase;
}

h3 {
	
	font-style:italic;
}

#controls {
	margin-top:-10px;
	float:right;
}

#controls a {
	color:#25587E;
}

.details {
	width:200px;
	height:150px;
	position:relative;
	left:300px;
	top:-20px;
	background-color: #E6E6E6;
	padding: 10px;
}

img {
	float:right;
}











